.searchbar{
    display: flex;
    float:right;
    position: relative;
    top: -35px;
    border-radius: 7px;
}
a.ajoutfilm{
    text-decoration: none;
    border:1px solid black;
    border-radius: 5px;
    background-color: white;
    padding-left: 14px;
    color: #444444;
    height: 31px;
    width: 150px;
    text-align: center;
    display: flex;
    align-items: center;
}
.formgenre{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: baseline;
    position: relative;
    right: 180px;
    gap: 20px;
}
.formcat{
    display: flex;
    align-items: baseline;
    position: relative;
    gap: 10px;
    bottom: 39px;
    left: 240px;
}
.searchletter{
    display: flex;
    justify-content: center;
    gap:5px;
}
.selectcat{
    display: flex;
    text-align: center;
    justify-content: center;
}
.affifilms{
    display: flex;
    flex-wrap: wrap;
    gap: 95px;
    margin-left: 95px;
    margin-bottom: 85px;
}
.affifilms .card-img-top{
    align-items: center;
    margin: auto;
    max-height: 268px;
}
.card{
    width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.col-md-4{
    height: 300px;
    text-decoration: none;
}
h5.card-title{
    text-decoration: none;
    box-shadow: none;
    color:#000;
}
/* design présentation Film.php */
#infosfilm{
    display: flex;
    position: relative;
    background-color: red;
}