#nav-link{
    max-width: 100px;
}
body{
    background-color: #eff0f0;
}

.alert{
    height: 0px;
    text-align: center;
    color: red;

}
.ajoutfilm{
    margin-left: 30px;
}
.affifilms{
    padding-top: 50px;
}


#navbar {
    height:45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #444444;
}
.navbar-ul{
    margin-top: 10px;
    margin-bottom: 10px;
}
img#log-img{
    margin-right:20px;
    max-height: 20px;
    position:relative;
    top:5px;
}

.form-group.card-img-top{
    max-height: 300px;
}
/* lougout img */

#logout-image{
    height: 20px;
    margin-top: 14px;   
   }

#navbar-hello {
    display: flex;
    align-self: flex-end;
    color: #cdcdcd;
}

#navbar-hello > span {
    padding: 17px 6px;
    line-height: 1;
}
#logo-droite{
    position: relative;
    margin-top: -3px;
}




.affiche-film .card-img-top{
    max-height: 300px;
}
div.card{
    border-radius: 10px;
    background: #fafafa;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    color: white;
    box-shadow: 20px 20px rgba(0,0,0,.15);
}

.accesmediatheque > a{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#medialink {
    width: 235px;
    height: 40px;
    font-size: 18px;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top:30px;
    border-radius: 7px;
    background: #444444;
    box-shadow:  10px 10px 15px #b3b4b4,
                 -10px -10px 15px #ffffff;
    transition: all .2s ease-in-out; 
}

#medialink:hover { 
    transform: scale(1.1); 
    }

#suppr{
    position: relative;
    z-index: 1;
    background: #F2F2F2;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.homelink {
    padding-top: 15px;
    text-align: center;
}

.homelink .arrow {
    position: relative;
    top: 4px;
}
.footer{
    text-align: center;
}
/* Bloc general */
h2 .heading{
    text-align: center;
}
.divider{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 330px;

}
.colgauche{
    width: 50%;
    float: left;
    height: 200px;
    width: 50%;
    text-align: center;
}
.coldroite{
    width: 50%;
    float: right;
    height: 200px;
    width: 50%;
    text-align: center;
}

/* Bloc 1 Presentation */
.blocpresentation{
    height: 400px;
    margin-left: 120px;
    margin-right: 120px;
    border-radius: 50px;
    background: #eff0f0;
    box-shadow:  10px 10px 15px #b3b4b4,
                 -10px -10px 15px #ffffff;
}
.lead{
    margin-left: 50px;
    margin-right: 150px;
    line-height: 30px;
}

/* Bloc 2 Horraires */
.blochorraires{
    height: 400px;
    margin-left: 120px;
    margin-right: 120px;
    border-radius: 50px;
    background: #eff0f0;
    box-shadow:  10px 10px 15px #b3b4b4,
                 -10px -10px 15px #ffffff;
}

.imghorraires{
    float:right;
}



/* Bloc 3 infos pratique */
.blocinfos{
    height: 400px;
    margin-left: 120px;
    margin-right: 120px;
    border-radius: 50px;
    background: #eff0f0;
    box-shadow:  10px 10px 15px #b3b4b4,
                 -10px -10px 15px #ffffff;
}
/* connexion réussie */

.cnxreussie{
    text-align: center;
    font-size: 20px;
    
}

/* polices */
h1 { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
     font-size: 24px;
      font-style: normal;
       font-variant: normal;
        font-weight: 700;
         line-height: 24px;
}
h2{ 
font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
font-size: 18px;
font-style: normal;
font-variant: normal;
font-weight: 700;
line-height: 18px;
}
 
h3 { 
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
     font-size: 14px;
      font-style: normal;
       font-variant: normal;
        font-weight: 700;
         line-height: 15.4px;
}
p {
font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
 font-size: 14px;
  font-style: normal;
   font-variant: normal;
    font-weight: 400;
     line-height: 20px;
}

blockquote { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
     font-size: 21px;
      font-style: normal;
       font-variant: normal;
        font-weight: 400;
         line-height: 30px;
} 
pre{ font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 13px;
     font-style: normal;
      font-variant: normal;
       font-weight: 400;
        line-height: 18.5714px;
}

/* connexion reussie */
.cnxreussie {
    margin-top: 50px;
    text-align: center;
    font-family: Georgia, serif;
    font-size: 30px;

  }
  
  .loader {
    text-align: center;
    vertical-align: middle;
    position: relative;
    display: flex;
    background: #eff0f0;
    box-shadow: 0px 40px 60px -20px rgba(0, 0, 0, 0.2);
    justify-content: center;
    margin-top: 400px;
  }
  
  .loader span {
    display: block;
    width: 20px;
    height: 20px;
    background: black;
    border-radius: 50%;
    margin: 0 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  }
  
  .loader span:nth-child(2) {
    background: black;
  }
  
  .loader span:nth-child(3) {
    background: black;
  }
  
  .loader span:nth-child(4) {
    background: black;
  }
  
  .loader span:not(:last-child) {
    animation: animate 1.5s linear infinite;
  }
  
  @keyframes animate {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(30px);
    }
  }
  
  .loader span:last-child {
    animation: jump 1.5s ease-in-out infinite;
  }
  
  @keyframes jump {
    0% {
      transform: translate(0, 0);
    }
    10% {
      transform: translate(10px, -10px);
    }
    20% {
      transform: translate(20px, 10px);
    }
    30% {
      transform: translate(30px, -50px);
    }
    70% {
      transform: translate(-150px, -50px);
    }
    80% {
      transform: translate(-140px, 10px);
    }
    90% {
      transform: translate(-130px, -10px);
    }
    100% {
      transform: translate(-120px, 0);
    }
  }
  